<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender name="OPERATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback_logs_path}/repo-connector_operational.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logback_logs_path}/repo-connector_operational.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{20} [%X{projectId}-%X{repositoryKey}-%X{type}] {%file:%line} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback_logs_path}/repo-connector.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logback_logs_path}/repo-connector.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%date %level {%file:%line} [%X{projectId}-%X{repositoryKey}-%X{type}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.GEventEvaluator">
                <expression>e.loggerName.endsWith("RepoConnector") &amp;&amp; e.level.toInt() >= INFO.toInt()</expression>
            </evaluator>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder>
            <pattern>%date %level %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="OPERATION" />
        <appender-ref ref="MAIN" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
